.bg-img-100 {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-img-hor-50 {
    height: 50vh;
    width: 110vw;
    /*position: fixed;
    left:0;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.bg-img-vert-50 {
    height: 100%;
    width: 40%;
    /*left: 139px;*/
    left: 0;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media (max-width: 768px) {
    .bg-img-vert-50  {
        background-image: none;
        height: 0;
        width: 0%;
        /*left: 139px;*/
        left: 0;
        position: fixed;
        display: none;
    }
}