.modal-icon {
    font-size: 32px;
    color: #003a70;
}

.modal-body-text {
    font-size: 0.94rem;
    font-weight: 600;
    color: #003a70;
}

.modal-body-text-normal {
    font-size: 0.94rem;
    font-weight: 500;
    color: #003a70;
}

.modal-title-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: #003a70;
    text-decoration: underline; 
}

.modal.modal-fullscreen .modal-dialog {
    width=calc(100vw - 40px);
    height=calc(80vh - 40px);
    margin: 40px;
    padding: 0;
    max-width: none; 
    top: 100px;
}

@media (max-width: 386px) {
    .modal.modal-fullscreen .modal-dialog {
        width=calc(100vw - 20px);
        height=calc(80vh - 20px);
        margin: 10px;
        padding: 0;
        max-width: none; 
        top: 60px;
    }
}

@media (min-width: 960px) {
    .modal.modal-fullscreen .modal-dialog {
    width=calc(100vw - 160px);
    height=calc(80vh - 160px);
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 0;
    max-width: 900px; 
    top: 100px;
    }
}

.modal.modal-fullscreen .modal-content {
    height: auto;
    border-radius: 0;
    border: none; 
}

.modal.modal-fullscreen .modal-body {
    overflow-y: auto; 
    background-color: white;
}